* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

form {
  align-items: center;
  background: linear-gradient(135deg, rgb(13,121,9) 30%, rgba(166,0,255,1) 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}

h1 {
  color: #fff;
  margin: 20px auto;
}

label {
  align-self: flex-start;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 12px 24px;
}

button {
  background-color: rgb(13,121,9);
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin: 20px auto;
  padding: 12px 28px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button:active {
  transform: scale(0.9);
}

button:disabled {
  background-color: #b8b8b8;
  color: #000;
}

button:hover {
  background-color: #fff;
  color: rgb(13,121,9);
}
